
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600"><i class="ti-shift-left-alt"></i> Components</a>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <h4 class="header-subtitle">Hola bienvenido</h4>
                <h1 class="header-title">Matias Sabbadini</h1>
                <h6 class="header-mono" >Desarrollador Frond end</h6>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">Sobre mi</a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link">Resumen</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img ngSrc="../assets/11.png" alt="" width="150" height="150"  class="brand-img"/>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Quien soy?</h3>
                <span class="line mb-5"></span>
                <!-- <h5 class="mb-3">Desarrollador Front-End enfocado en interfaces de usuario atractivas y funcionales.</h5> -->
                <p class="mt-20">
                    Hola me llamo Matias Sabbadini, tengo 32 años
                    y naci en Neuquen, Argentina. Soy un
                    estudiante de programación autodidacta con
                    iniciativa y ganas de superarse. Cuento con la
                    capacidad de trabajar en equipo y resolución
                    de problemas. Busco nuevos desafios para
                    poder adquirir mas experiencias en lo
                    profesional y en lo personal.
                </p>
                <a href="https://drive.google.com/file/d/1LEfYfTrFL5oEyl15xE_2T3nUDRtn1ZQx/view?usp=sharing" target="_blank" class="btn borderColor"><i class="icon-down-circled2"></i>Descarga mi Cv</a>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Informacion Personal</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Correo Electronico</span>: 
                      {{myEmail}}</li>
                    <li><span>Linkedin </span>: 
                      https://www.linkedin.com/in/sabbadini-front/</li>
                    <li><span>Git-Hub</span>: 
                      https://github.com/Sabbadini10/</li>
                </ul>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Mi experiencia</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 substitle pt-1"><i class="ti-widget icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>StackCode</h6>
                        <p class="subtitle">Front-End</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 substitle pt-1"><i class="ti-paint-bucket icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Code Society</h6>
                        <p class="subtitle"></p>
                        Front-end 
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 substitle pt-1"><i class="ti-stats-up icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Buon Aseo</h6>
                        <p class="subtitle">
                          Full Stack
                          </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Resume Section-->
    <section class="section" id="resume">
        <div class="container">
            <h2 class="mb-5"><span class="substitle">Mi</span> Resumen</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Experiencia</h4>
                                <span class="line fondoAzul"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title substitle">SEPTIMBRE 2023 - ABRIL 2024</h6>
                            <P>Front-End - StackCode</P>
                            <P class="subtitle">
                              Donde realize interfaces web intuitivas y atractivas utilizando
                              HTML, CSS, JavaScript, Angular, Tailwind, Bootstrap, APIs y
                              TypeScript.</P>
                            <hr>
                            <h6 class="title substitle">AGOSTO 2021 - SEPTIEMBRE 2023</h6>
                            <P>Front-end - Code Society</P>
                            <P class="subtitle">
                        He participando en proyectos, encargándome de la maquetación y desarrollo de interfaces web. 
                         he colaborado en la creación de diversos proyectos. 
                         He utilizado tecnologías como HTML, CSS, JavaScript y Angular para crear
                          interfaces intuitivas y atractivas, optimizando el rendimiento y
                          la accesibilidad.
                        </P>
                            <hr>
                            <h6 class="title substitle">Marzo 2022 - Diciembre 2022</h6>
                            <P>Full Stack</P>
                            <P class="subtitle">
                            Participé en un emocionante proyecto integrador en
                          colaboración con otros tres desarrolladores. 
                         Nuestro objetivo era crear una solución completa para un
                          Ecommerce de Productos de limpieza. 
                         Como parte del equipo, desempeñé un papel activo en el
                          desarrollo del proyecto, 
                         trabajando estrechamente con mis compañeros para diseñar
                          e implementar las funcionalidades claves.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Educación</h4>
                                <span class="line fondoAzul"></span>  
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title substitle">ACTUALMENTE</h6>
                            <P>Angular 17</P>
                            <P class="subtitle">
                             Udemy/Youtube
                            </P>
                            <hr>
                            <h6 class="title substitle">MARZO 2022 - DICIEMBRE 2022</h6>
                            <P>Full Stack</P>
                            <P class="subtitle">
                              Digital House
                            </P>
                            <hr>
                            <h6 class="title substitle">NOVIEMBRE 2022</h6>
                            <P>Introducción a la programación</P>
                            <P class="subtitle">
                              Educación IT
                            </P>
                            <hr>
                            <hr>
                            <h6 class="title substitle">NOVIEMBRE 2022</h6>
                            <P>Introducción al mundo web</P>
                            <P class="subtitle">
                              Educación IT
                            </P>
                            <hr>
                            <h6 class="title substitle">AGOSTO 2022</h6>
                            <P>Metodología Scrum</P>
                            <P class="subtitle">
                              SCRUM STUDY
                            </P>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Skills</h4>
                                <span class="line fondoAzul"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                           <h6>{{htmlText}}</h6>
                           <h6>{{cssText}}</h6>
                            <h6>JavaScript</h6>
                            <h6>Angular</h6>
                            <h6>Typescript</h6>
                            <h6>Trello</h6>
                            <h6>Tailwind</h6>
                            <h6>Node</h6>
                            <h6>Express.js</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-custom-gray" id="portfolio">
        <div class="container">
            <h1 class="mb-5"><span class="substitle">Mi</span> Portfolio</h1>
            <div class="portfolio">
                <div class="portfolio-container">
                    <div class="d-flex flex-wrap">
                        <div class="col-md-6 col-lg-4 web new">
                            <div class="portfolio-item">
                                <img ngSrc="../assets/buon-aseo.jpeg" width="500" height="250" priority="true" class="img-fluid" alt="Foto de Buon Aseo"/>
                                <div class="content-holder">
                                    <a class="img-popup" href="../assets/buon-aseo.jpeg"></a>
                                    <div class="text-holder">
                                        <h6 class="title">Buon Aseo 2.0</h6>
                                        <p class="subtitle">
                                          Actualmente estoy trabajando en este proyecto usando node, mongo para el backend 
                                          y angular para el frontend
                                        </p>
                                        <a href="https://project-front-buon-aseo.vercel.app/auth/signin" target="_blank">Link Buon Aseo 2.0</a> 
                                    </div>
                                </div>   
                            </div>             
                        </div>
                        <div class="col-md-6 col-lg-4 web new">
                            <div class="portfolio-item">
                                <img src="../assets/PokeApp.jpeg" width="500" height="250" loading="eager" class="img-fluid" alt="Poke app">
                                <div class="content-holder">
                                    <a class="img-popup" href="../assets/PokeApp.jpeg"></a>
                                    <div class="text-holder">
                                        <h6 class="title">Poke App</h6>
                                        <p class="subtitle">
                                          Es una poke app echa en angular 15, 
                                          consumiendo la api de PokeApi, cada pokemon lo muestro detro de una card y cuenta con un paginador </p>
                                          <a href="https://poke-app-angular.vercel.app/" target="_blank">Link Poke app</a> 
                                        </div>
                                </div> 
                            </div>                         
                        </div>
                        <div class="col-md-6 col-lg-4 advertising new">
                            <div class="portfolio-item">
                                <img src="../assets/buscador.jpeg" width="500" height="250" class="img-fluid" alt="Buscador"/>
                                <div class="content-holder">
                                    <a class="img-popup" href="../assets/buscador.jpeg"></a>
                                    <div class="text-holder">
                                        <h6 class="title">Buscador</h6>
                                        <p class="subtitle">Es un buscador, donde se pueda buscar por el id, el nombre la compania, categoria o felicidad, tambien cuentra con un paginador</p>
                                        <a href="https://buscador-angular.vercel.app/home" target="_blank">Link buscador</a> 
                                      </div>
                                </div>    
                            </div>              
                        </div>
                        <div class="col-md-6 col-lg-4 advertising new">
                          <div class="portfolio-item">
                              <img src="../assets/aerolabs3.jpeg" width="500" height="250" class="img-fluid" alt="aerolabs"/>
                              <div class="content-holder">
                                  <a class="img-popup" href="../assets/aerolabs3.jpeg"></a>
                                  <div class="text-holder">
                                      <h6 class="title">Aerolabs</h6>
                                      <p class="subtitle">Esta echo en angular, se puede filtral por mas reciente, y por precio bajo o alto</p>
                                      <a href="https://challenge-aerolabs.web.app/" target="_blank">Link aerolabs</a> 
                                    </div>
                              </div>    
                          </div>              
                      </div>
                      <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="../assets/altapinta2.jpeg" width="500" height="250" class="img-fluid" alt="altapinta"/>
                            <div class="content-holder">
                                <a class="img-popup" href="../assets/altapinta2.jpeg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Alta-pinta</h6>
                                    <p class="subtitle">
                                      Es unos de los primeros proyectos que empece con angular, 
                                      es un catalago de muestra de productos</p>
                                    <a href="https://alta-pinta-02.web.app/" target="_blank">Link alta-pinta</a> 
                                  </div>
                            </div>    
                        </div>              
                    </div>
                    </div>
                </div> 
            </div>  
        </div>            
    </section>
    <div class="section contact" id="contact">
        <div id="map" class="map"></div>
        <div class="container">
            <h1 class="mb-5"><span class="substitle"></span>Contactame</h1>
            <div class="row flex justify-content-center">
                <div class="col-lg-8">
                    <div class="contact-form-card">
                        <h4 class="contact-title">Enviame un mensaje</h4>
                        <form [formGroup]="contactForm" (ngSubmit)="sendEmail($event)">
                            <div class="form-group">
                                <input  class="form-control" formControlName="userName" type="text" placeholder="Nombre *">
                                @if(contactForm.controls['userName'].touched && contactForm.controls['userName'].errors?.['required']){ 
                                    <div class="errorMessage">
                                      Debes completar el campo correctamente
                                  </div>
                                }
                                @if(contactForm.controls['userName'].touched && contactForm.controls['userName'].errors?.['minlength']){ 
                                    <div class="errorMessage">
                                      Debes ingresar al menos 3 caracteres
                                  </div>
                                }
                                @if(contactForm.controls['userName'].touched && contactForm.controls['userName'].errors?.['maxlength']){ 
                                    <div class="errorMessage">
                                     No puedes ingresar mas de 20 caracteres
                                  </div>
                                }
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" formControlName="userEmail" placeholder="Correo electronico *" required>
                                @if(contactForm.controls['userEmail'].touched && contactForm.controls['userEmail'].errors?.['required']){ 
                                    <div class="errorMessage">
                                      Debes completar el campo correctamente
                                  </div>
                                }
                                @if(contactForm.controls['userEmail'].touched && contactForm.controls['userEmail'].errors?.['pattern']){ 
                                    <div class="errorMessage">
                                      Debes poner un correo electronico valido
                                  </div>
                                }
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" formControlName="message"  placeholder="Mensaje *" rows="7" required> </textarea>
                                @if(contactForm.controls['message'].touched && contactForm.controls['message'].errors?.['required']){ 
                                    <div class="errorMessage">
                                      Debes completar el campo correctamente
                                  </div>
                                }
                                @if(contactForm.controls['message'].touched && contactForm.controls['message'].errors?.['minlength']){ 
                                    <div class="errorMessage">
                                      Debes completar con al menos 50 caracteres
                                  </div>
                                }
                                @if(contactForm.controls['message'].touched && contactForm.controls['message'].errors?.['maxlength']){ 
                                    <div class="errorMessage">
                                      El maximo permitido es de 200 caracteres
                                  </div>
                                }
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="button-Submit form-control btn btn-info">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; {{diaHoy}}-{{sumMonth}}-{{anioHoy}} desarrollado por <i class="ti-heart substitle"></i> Matias Sabbadini
            </p>
        </div>
    </footer>

	<!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope  -->
    <script src="assets/vendors/isotope/isotope.pkgd.js"></script>
    
    <!-- JohnDoe js -->
    <script src="assets/js/johndoe.js"></script>

